 
$color-card: rgba(236, 240, 241,1.0);
$primary-col:#181817;
#group{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.groupContainer{
  padding: 5%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.head{
    align-self: center;
}
.person{
    min-width: 10rem;
    padding: 1%;
}
.pure-toggle {
  -webkit-transition: height 1s;
  transition:  height 1s;
  display:inline-block;
  cursor:pointer;
  width:100%;
  min-height: 200px;
  border-radius:5px;
  border: solid 1px $primary-col;
  overflow: hidden;
  color: $primary-col;
  .header {
    display:inline-flex;
    width:100%;
    height:25px;   
    background-color: $primary-col;
  }
  .text { 
    padding: 0 1%;

  }
}
