$bg: #fefdfd;
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import "navbar";
@import "start";
@import "interests";
@import "publications";
@import "interestingLinks";
@import "group";
@import "contact";

*{
    margin:0;
    padding:0;
    user-select: none;
}
body{
    background: $bg;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
}
a{
    color:$font-col;
    text-decoration: none;
}
h1,h2,h3{
    font-weight: 100;
    text-transform: uppercase
}

.footer{
    background: $secondary-col;
    padding: 4%;
    text-align: center;
    color: $bg;
}