$primary-col:#181817;
$font-col: #fefdfd;

* {
  box-sizing: border-box;
}

header {
  padding: 1em;
}

.navbar {
  background: $primary-col;
  text-transform: uppercase;
  .link {
    display: block;
    width: 100%;
    text-align: center;
    padding: 1em;
    text-decoration: none;
    color: $font-col;
  }
  .btn {
    display: inline-block;
    padding: 1em;
    color: $font-col !important;
    vertical-align: middle;

  }
}
@media (min-width: 48em) {
    .navbar {
      display: flex;
      .left, {
        display: flex;
        justify-content: space-around;
        flex: 1;
      }
      .link {
          width: auto;
      }
      .btn {
        display: none;
      }
    }
}

.navbar {
  div {
    display: none;
    @media (min-width: 48em) {
      display: flex;
    }
  }
}

@media (max-width: 48em) {
.navbar.active {
  .btn {
    color: $font-col;
  }
  div {
    display: block;
  }
}
}
   