@import "publications";
.App-header{
    background: url(../../img/bg.svg) no-repeat center center fixed;
    width: 100%;
    display: table;
    position: relative;
    height: 40vh;
    background-size: cover;
    text-transform: uppercase;
  }
  .intro{
    padding:10%;
    vertical-align: middle; 
    color: $primary-col !important;
    display: table-cell;
    text-align: center;
    z-index: 100;
  }
  @media only screen and (max-width: 600px){
    .App-header{
       background:$gray-col;
    height: 30vh;
    font-size: 70%;
   width: 100%;
    }
    .title{
      font-size: 70%;
    }
  }