
.App-header{
    background: url(../../img/bg.svg) no-repeat center center fixed;
    display: table;
    position: relative;
    width: 100%;
    height: 40vh;
    background-size: cover;
    text-transform: uppercase;
  }
  .intro{
    padding:10%;
    vertical-align: middle; 
    color: $primary-col !important;
    display: table-cell;
    text-align: center;
    z-index: 100;
  }